<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        .header {
            overflow: hidden;
            background-color: purple;
            padding: 20px 10px;
        }

            .header a {
                float: left;
                color: white;
                text-align: center;
                padding: 12px;
                text-decoration: none;
                font-size: 20px;
                line-height: 25px;
                border-radius: 4px;
            }

                .header a.logo {
                    font-size: 25px;
                    font-weight: bold;
                }

                .header a:hover {
                    background-color: black;
                    color: white;
                }



        .header-right {
            float: right;
        }

        @@media screen and (max-width: 500px) {
            .header a {
                float: none;
                display: block;
                text-align: left;
            }

            .header-right {
                float: none;
            }
        }

        .container {
            border-radius: 5px;
            background-color: white;
            padding: 5px;
        }

        #left {
            /*float: left;
            padding-left: 100px;
            padding-top: 70px;*/
             font-size:20px;
            font-family:'Bell MT';
        }

        #right {
            float: right;
            padding-right: 8em;
        }

        #FooterLayout {
            margin-top:80px;
            border: 2px solid purple;
            text-align: center;
            background-color: purple;
        }
        #logout{
            float:right;
        }
          #submit1 {
            background-color: purple;
            border: none;
            color: white;
            padding: 14px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="header">
        <a href="http://localhost:52960/PaymentMVC/IndexView" class="logo"><img src="~/Images/logo.jpg" width="200" height="65" /></a>
        <div class="header-right">
            <a>@Html.ActionLink("Prepaid", "PrePaidView", "PaymentMVC")</a>
            <a>@Html.ActionLink("Postpaid", "PostPaid", "PaymentMVC")</a>
            <a>@Html.ActionLink("AboutUs", "AboutUs", "PaymentMVC")</a>
            <a>@Html.ActionLink("ContactUs", "ContactUs", "PaymentMVC")</a>
           
            <a>@Html.ActionLink("Register", "Register", "PaymentMVC")</a>

        </div>
    </div>
    <div id="logout"><input type="submit" value="Logout" id="submit1" onclick="validate()" /></div>
    <div class="container">
        <div class="row">
                @RenderBody()
        </div>
    </div>
    <div id="FooterLayout">
        <p style="color:lightgray;">Copyright@Airphone by Team</p>
    </div>
</body>
</html>
