
@{
    Layout = "~/Views/Shared/_LayoutPrePaidPlan.cshtml";
    var QuestionsList = new List<SelectListItem>() {
        new SelectListItem() {Text="Your first school name",Value="schoolname"},
        new SelectListItem() {Text="Your Favourite color",Value="color"},
        new SelectListItem() {Text="Your pet name",Value="pet"}
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPasswordView</title>
    <style>
           .txtbox{
            width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
 
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 8px 20px 8px 25px;
       }
              #submit {
            background-color: purple;
            border: none;
            color: white;
            padding: 14px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
              label{
              font-size:18px;
          }
    </style>
    <script type="text/javascript" src="~/Scripts/Validation.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#submit').click(function (e) {
                jQuery.support.cors = true;
                var Customer = {};

                Customer.MobileNumber = $('#txtMobileNumber').val();
                Customer.SecurityQuestion = $('#txtSecurityQuestions').val();
                Customer.SecurityAnswer = $('#txtSecurityAnswer').val();
                Customer.NewPassword = $('#txtpassword').val();
                Customer.ConfirmPassword = $('#txtConfirmPassword').val();


                //alert("Your Name is \n" + Customer.CustomerName + "Mobile " + Customer.MobileNumber + " " + Customer.EmailId + " " + Customer.Plantype + " " + Customer.SecurityQuestion + " " + Customer.SecurityAnswer + " " + Customer.NewPassword + " " + Customer.ConfirmPassword + " " + Customer.Operator);
                $.ajax({
                    url: 'http://localhost:52960/api/PaymentWeb/ForgotPassword',
                    type: 'POST',
                    dataType: 'json',
                    data: Customer,
                    success: function (data) {
                        
                        if(data > 0)
                        {
                            alert("Password Successfully Updated");
                            $(location).attr('href', 'http://localhost:52960/PaymentMVC/Login');
                        }
                        else {
                            alert("Password Not Changed")
                        }
                       
                    },
                    error: function (message) {

                       
                            alert("Error");
                        }
                    
                });

                e.preventDefault();
            });

        });
    </script>

</head>
<body>
    <div> 
        @using (Html.BeginForm("ForgotPasswordView", "PaymentMVC"))
        {
            <center>
                <h1 style="font-size:26px;">Forgot Password</h1>
                <table id="left">
                    <tr>
                        <td>@Html.Label("MobileNumber")</td>
                        <td>@Html.TextBox("txtMobileNumber", "", new { @class = "txtbox" })</td>
                        <td style="color:purple;">@Html.Label(" ", new { @id = "lblMobileNumber" })</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Choose Security Question")</td>
                        <td>@Html.DropDownList("txtSecurityQuestions", QuestionsList, "---Select One---", new { @class = "txtbox" })</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("SecurityAnswer")</td>
                        <td>@Html.TextBox("txtSecurityAnswer", "", new { @class = "txtbox" })</td>
                        <td style="color:purple;">@Html.Label(" ", new { @id = "lblSecurityAnswer" })</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Create New Password")</td>
                        <td>@Html.Password("txtpassword", "", new { @class = "txtbox" })</td>
                        <td style="color:purple;">@Html.Label(" ", new { @id = "lblpassword" })</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Confirm Password")</td>
                        <td>@Html.Password("txtConfirmPassword", "", new { @class = "txtbox" })</td>
                        <td style="color:purple;">@Html.Label(" ", new { @id = "lblConfirmPassword" })</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" id="submit" onclick="return ForgotPasswordValidation(txtMobileNumber, lblMobileNumber, txtSecurityAnswer, lblSecurityAnswer, txtpassword, lblpassword, txtConfirmPassword, lblConfirmPassword);" value="Update Changes" /></td>
                    </tr>
                </table>
            </center>
        }
    </div>
</body>
</html>
